.main-sec {
    height: 100% !important;
    background: white;
    display: flex;
    align-items: center !important;
    /* width: 80%; */
}

.card-container{
    
}

.bg-img {
    width: 400px !important;
    height: 500px !important;
}


.custom-row {
    display: flex !important;
    justify-content: space-around !important;
}

.img-div {
    /* border: 2px solid red; */
    display: flex;
    justify-content: left;
}


.custom-btn {
    background-color: white;
    color: #30b8f4;
    font-weight: bold;
    border: 2px solid #30b8f4;
}

.custom-btn:hover {
    background-color: #30b8f4;
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

.custom-text{
    color: #30b8f4;
    font-weight: bold;
}

.login-btns{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}

.custom-login-btn{
    width: 50px !important;
    height: 50px !important;
    border: 4px solid #30b8f4;
    border-radius: 40px;
}

.custom-text2{
    color: #2e1042;
}

.link{
    text-decoration: underline;
}

.custom-ok-button {
    background-color: #30b8f4 !important; /* Replace #ff0000 with your desired color */
    color: #ffffff !important; /* Optional: Change text color for better contrast */
  }
  
/* 
    Hide the original file input
    .file-input {
        display: none;
    }

    Custom button styling
    .custom-file-label {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    Change button color on hover
    .custom-file-label:hover {
        background-color: #0056b3;
    }

    Display selected file name
    .file-name {
        margin-left: 15px;
        font-size: 16px;
    } */